<div class="scrollbar " id="style-default">
<div class="agile-info-recent">
  <div class="w3ls-recent-grids">
    <div class="w3l-recent-grid">
      <div class="wom">
        <a href="single.html"><%= image_tag "m12.jpg", alt: " ",
         class: "img-responsive" %></a>
      </div>
      <div class="wom-right">
        <h6><a href="single.html">Tap 1 - sss</a></h6>
          <ul class="w3l-sider-list">
            <li><i class="fa fa-clock-o" aria-hidden="true"></i>On Jan 12, 2016</li>
            <li><i class="fa fa-eye" aria-hidden="true"></i> 2602</li>
          </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="w3l-recent-grid">
      <div class="wom">
        <a href="single.html"><%= image_tag "m12.jpg", alt: " ",
         class: "img-responsive" %></a>
      </div>
      <div class="wom-right">
        <h6><a href="single.html">Tap 1 - sss</a></h6>
          <ul class="w3l-sider-list">
            <li><i class="fa fa-clock-o" aria-hidden="true"></i>On Jan 12, 2016</li>
            <li><i class="fa fa-eye" aria-hidden="true"></i> 2602</li>
          </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="w3l-recent-grid">
      <div class="wom">
        <a href="single.html"><%= image_tag "m12.jpg", alt: " ",
         class: "img-responsive" %></a>
      </div>
      <div class="wom-right">
        <h6><a href="single.html">Tap 1 - sss</a></h6>
          <ul class="w3l-sider-list">
            <li><i class="fa fa-clock-o" aria-hidden="true"></i>On Jan 12, 2016</li>
            <li><i class="fa fa-eye" aria-hidden="true"></i> 2602</li>
          </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="w3l-recent-grid">
      <div class="wom">
        <a href="single.html"><%= image_tag "m12.jpg", alt: " ",
         class: "img-responsive" %></a>
      </div>
      <div class="wom-right">
        <h6><a href="single.html">Tap 1 - sss</a></h6>
          <ul class="w3l-sider-list">
            <li><i class="fa fa-clock-o" aria-hidden="true"></i>On Jan 12, 2016</li>
            <li><i class="fa fa-eye" aria-hidden="true"></i> 2602</li>
          </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="w3l-recent-grid">
      <div class="wom">
        <a href="single.html"><%= image_tag "m12.jpg", alt: " ",
         class: "img-responsive" %></a>
      </div>
      <div class="wom-right">
        <h6><a href="single.html">Tap 1 - sss</a></h6>
          <ul class="w3l-sider-list">
            <li><i class="fa fa-clock-o" aria-hidden="true"></i>On Jan 12, 2016</li>
            <li><i class="fa fa-eye" aria-hidden="true"></i> 2602</li>
          </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="w3l-recent-grid">
      <div class="wom">
        <a href="single.html"><%= image_tag "m12.jpg", alt: " ",
         class: "img-responsive" %></a>
      </div>
      <div class="wom-right">
        <h6><a href="single.html">Tap 1 - sss</a></h6>
          <ul class="w3l-sider-list">
            <li><i class="fa fa-clock-o" aria-hidden="true"></i>On Jan 12, 2016</li>
            <li><i class="fa fa-eye" aria-hidden="true"></i> 2602</li>
          </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="w3l-recent-grid">
      <div class="wom">
        <a href="single.html"><%= image_tag "m12.jpg", alt: " ",
         class: "img-responsive" %></a>
      </div>
      <div class="wom-right">
        <h6><a href="single.html">Tap 1 - sss</a></h6>
          <ul class="w3l-sider-list">
            <li><i class="fa fa-clock-o" aria-hidden="true"></i>On Jan 12, 2016</li>
            <li><i class="fa fa-eye" aria-hidden="true"></i> 2602</li>
          </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="w3l-recent-grid">
      <div class="wom">
        <a href="single.html"><%= image_tag "m13.jpg", alt: " ",
         class: "img-responsive" %></a>
      </div>
      <div class="wom-right">
          <h5><a href="single.html">Lorem Integer rutrum</a></h5>
          <ul class="w3l-sider-list">
            <li><i class="fa fa-clock-o" aria-hidden="true"></i>On Mar 3, 2016</li>
            <li><i class="fa fa-eye" aria-hidden="true"></i> 2742</li>
          </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="w3l-recent-grid">
      <div class="wom">
        <a href="single.html"><%= image_tag "m14.jpg", alt: " ",
         class: "img-responsive" %></a>
      </div>
      <div class="wom-right">
          <h5><a href="single.html">Lorem Integer rutrum</a></h5>
          <ul class="w3l-sider-list">
            <li><i class="fa fa-clock-o" aria-hidden="true"></i>On Oct 13, 2016</li>
            <li><i class="fa fa-eye" aria-hidden="true"></i> 2802</li>
          </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
</div>
