<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
  <div class="agile-news-table"><%= link_to "Thêm phim", new_film_path %>
    <table class="table table-striped table-bordered example" >
      <thead>
        <tr>
          <th>No.</th>
          <th>Tên phim</th>
          <th>Năm phát hành</th>
          <th>Tập</th>
          <th>Thể loại</th>
          <th>Tổng lượt xem</th>
          <th>Đánh giá</th>
          <th>Trạng thái</th>
          <th>Tác vụ</th>
        </tr>
      </thead>
      <tbody>
        <% @videos.each do |film| %>
          <tr>
            <td>1</td>
            <td class="w3-list-img"><a href="single.html"><%= image_tag url_for(film.thumbnail), alt: "" %> <span><%= film.title %></span></a></td>
            <td></td>
            <td>film</td>
            <td class="w3-list-info"><a href="genre.html">United Kingdom</a></td>
            <td class="w3-list-info"><a href="genre.html">Comedy, Drama</a></td>
            <td>7.0</td>
            <td>dang cap nhat</td>
            <td>
              <%= link_to  edit_film_path(film), class: "label label-danger" do %>
                Edit
              <% end %>

              <%= link_to  "#", class: "label label-info" do %>
                Xem
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <script type="text/javascript">
      $(document).ready(function() {
      $('.example').DataTable();
      });
    </script>
  </div>
</div>


<%= link_to 'Edit', edit_film_path(@film) %> |
<%= link_to 'Back', films_path %>
