<% provide :title, @video.title %>

<div class="w3_content_agilleinfo_inner" id="main-content">
  <div class="agile_featured_movies">
    <div class="latest-news-agile-info" style="padding-top:1em">
      <div class="col-md-9 latest-news-agile-left-content">
        <div class="single video_agile_player" >

          <div class="video-grid-single-page-agileits" >
            <video id="video" class="video-js" controls preload="auto"
              poster="<%= url_for(@video.thumbnail) %>" data-setup="{}">
              <source src="<%= url_for(@video.clip) %>" type="video/mp4">
            </video>
            <script src='https://vjs.zencdn.net/7.5.4/video.js'></script>

          </div>
            <h4><%= @video.title %></h4>
        </div>
      </div>
      <div class="col-md-3 latest-news-agile-right-content">
        <h5 class="side-t-w3l-agile">Danh sách tập</h5>
        <%= render "videos/list-videos" %>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="latest-news-agile-info" style="padding-top:1em">
      <div class="col-md-9 latest-news-agile-left-content">
        <div class="single video_agile_player">
          <div class="agile-post">
            <ul class="w3l-sider-list">
              <li><i class="fa fa-eye" aria-hidden="true"></i>Lượt xem <span><%= @video.impressionist_count %></span> </li><br>
              <li><i class="fa fa-list-alt" aria-hidden="true"></i>Thể loại
                <% @video.film.film_categories.each do |film| %>
                  <span>
                    <%= link_to film.category.name,
                      category_path(id: film.category.slug), class: "label label-primary", style: "color: white" %>
                  </span>
                <% end %>
              </li><br>
            </ul>
          </div>
             <p><%= @video.film.description.html_safe %></p>
          </div>
        <div class="response">
<!-- agile-comments -->
          <div class="agile-news-comments">
            <div class="agile-news-comments-info">
              <h4>Comments</h4>
              <div class="fb-comments" data-href="https://w3layouts.com/"
                data-width="100%" data-numposts="5">
              </div>
            </div>
          </div>
<!-- //agile-comments -->
        </div>
      </div>
      <div class="col-md-3 latest-news-agile-right-content">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
